{% extends 'base.html' %}

{% block title %}Inicio{% endblock title %}

{% block content %}
{% include 'includes/carousel.html' %}
<h1 style="text-align:center;">Inicio</h1>

<div class="row small-up-2 large-up-4">
  <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur, deserunt
    dolores ducimus ea itaque minima molestiae numquam pariatur perspiciatis quas quasi quidem recusandae reiciendis
    reprehenderit soluta suscipit velit, voluptate.</p>
</div>

{% endblock content %}